<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="ocrStartImpl"
		class="de.uni_goettingen.sub.commons.ocr.abbyy.server.OCRStartImpl"
		factory-method="getInstance">
	</bean>
	<bean id="OCREngineFactory" name="OCREngineFactory"
		class="de.uni_goettingen.sub.commons.ocr.api.OCREngineFactory"
		factory-method="getInstance">
		<property name="engine" ref="multiAbbyyServerOCREngine" />
	</bean>

	

	<bean id="multiAbbyyServerOCREngine" name="multiAbbyyServerOCREngine"
		class="de.uni_goettingen.sub.commons.ocr.abbyy.server.multiuser.MultiUserAbbyyOCREngine"
		factory-method="getInstance">
	</bean>



</beans>